#header {
  margin: 0px;
}

#tour {
  margin: 0px;
}

#amenities {
  margin: 0px;
}

#locationMap {
  margin: 0px;
}

#reviews {
  margin: 0px;
}

#availability {
  margin: 0px;
}

#otherListings {
  margin: 0px;
}

#bookingFloater {
  margin: 0px;
}
